@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
html,
body {
  width: 100%;
  font-size: 12px;
}
.box {
  width: 80%;
  box-shadow: 1px 1px 1px #cccccc;
  background-color: #efefef;
  margin: auto;
  padding-bottom: 1px;
}
header {
  background-color: #ee7419;
  padding-top: 1%;
  padding-bottom: 1%;
}
header a {
  color: #ffffff;
  padding-left: 10%;
}
.div {
  box-shadow: 1px 1px 1px #cccccc;
  background-color: #ffffff;
  margin: 10% auto 20% auto;
}
.create-questionnair {
  box-shadow: 1px 1px 1px #cccccc;
  background-color: #ffffff;
  margin: 10% auto 20% auto;
  width: 60%;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-questionnair a {
  background-color: #ee7419;
  padding: 0 4px;
  color: #ffffff;
}
.edit-questionnair {
  box-shadow: 1px 1px 1px #cccccc;
  background-color: #ffffff;
  margin: 10% auto 20% auto;
  width: 70%;
  padding: 4% 5% 5% 5%;
  display: none;
}
.edit-questionnair h1 {
  border-bottom: 1px solid #cccccc;
}
.edit-questionnair h1 input {
  display: block;
  border: none;
  width: 100%;
  text-align: center;
}
.edit-questionnair h1 input:hover {
  background-color: #ee7419;
}
.edit-questionnair .add-question {
  border: 1px solid #cccccc;
  margin-top: 4%;
  margin-bottom: 4%;
}
.edit-questionnair .add-question p {
  text-align: center;
  background-color: #efefef;
  padding: 4% 0 4% 0;
}
.edit-questionnair .add-question ul {
  list-style: none;
  text-align: center;
  display: none;
}
.edit-questionnair .add-question ul li {
  display: inline-block;
  width: 20%;
  border: 1px solid #cccccc;
  background-color: #efefef;
  margin: 2%;
}
.edit-questionnair .add-question ul li:hover {
  border-color: #ee7419;
}
.edit-questionnair .save-questionnair {
  border-top: 1px solid #cccccc;
  padding-top: 4%;
}
.edit-questionnair .save-questionnair input {
  border: 1px solid #cccccc;
  padding: 0 2px;
}
.edit-questionnair .save-questionnair ul {
  list-style: none;
  float: right;
}
.edit-questionnair .save-questionnair ul li {
  display: inline-block;
}
.edit-questionnair .save-questionnair ul li input:hover {
  border-color: #ee7419;
}
.edit-questionnair .each-question,
.edit-questionnair .text-area {
  list-style: none;
  display: none;
  margin-top: 5px;
}
.edit-questionnair .each-question button,
.edit-questionnair .text-area button {
  float: right;
}
.edit-questionnair .each-question .options,
.edit-questionnair .text-area .options,
.edit-questionnair .each-question .text,
.edit-questionnair .text-area .text {
  padding-left: 2em;
}
.edit-questionnair .each-question .options .delete,
.edit-questionnair .text-area .options .delete,
.edit-questionnair .each-question .text .delete,
.edit-questionnair .text-area .text .delete {
  color: red;
}
.calendar {
  border: 1px solid #efefef;
  width: 154px;
  text-align: center;
  display: none;
}
.calendar .head {
  background-color: #efefef;
}
.calendar .content span {
  display: inline-block;
  width: 20px;
}
.calendar .content .week {
  display: flex;
  justify-content: flex-start;
}
.calendar .content .weekday {
  border: 1px solid #efefef;
}
.calendar .content .date {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.calendar .content .dateday {
  border: 1px solid #efefef;
}
.calendar .content .dateday:hover {
  background-color: #1E90FF;
  color: white;
}
.questionnair-list {
  box-shadow: 1px 1px 1px #cccccc;
  background-color: #ffffff;
  margin: 10% auto 20% auto;
  width: 80%;
}
.questionnair-list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.questionnair-list ul li:nth-child(1) {
  width: 25%;
}
.questionnair-list ul li:nth-child(2) {
  width: 20%;
}
.questionnair-list ul li:nth-child(3) {
  width: 10%;
}
.questionnair-list ul li:nth-child(4) {
  width: 30%;
}
.questionnair-list ul li:nth-child(5) {
  width: 15%;
}
.questionnair-list .head {
  text-align: center;
  background-color: #efefef;
}
.questionnair-list .head ul li:nth-child(5) {
  background-color: #ee7419;
}
.questionnair-list .head ul li:nth-child(5) a {
  color: #ffffff;
}
.questionnair-list .each-questionnair {
  text-align: center;
}
.questionnair-list .each-questionnair ul {
  display: none;
}
.questionnair-list .each-questionnair ul li:nth-child(1) {
  text-align: left;
}
.questionnair-list #allSelected-allDelete {
  border-top: 1px solid #ee7419;
}
.write-questionnair,
.check-data {
  box-shadow: 1px 1px 1px #cccccc;
  background-color: #ffffff;
  margin: 10% auto 20% auto;
  width: 80%;
}
.write-questionnair h1,
.check-data h1 {
  text-align: center;
  padding-top: 20px;
}
.write-questionnair h1 input,
.check-data h1 input {
  border: none;
  text-align: center;
  background-color: white;
  font-size: 30px;
  color: black;
}
.write-questionnair .question-list,
.check-data .question-list {
  padding-left: 20px;
  padding-right: 20px;
}
.write-questionnair .question-list .each-question,
.check-data .question-list .each-question {
  margin: 20px 0 20px 0;
  padding-bottom: 10px;
}
.write-questionnair .question-list .each-question .clearfix,
.check-data .question-list .each-question .clearfix {
  display: none;
}
.write-questionnair .question-list .each-question .options,
.check-data .question-list .each-question .options {
  padding-left: 20px;
}
.write-questionnair .question-list .each-question .delete,
.check-data .question-list .each-question .delete {
  display: none;
}
.write-questionnair .question-list .text-area,
.check-data .question-list .text-area {
  margin: 20px 0 20px 0;
  padding-bottom: 10px;
}
.write-questionnair .question-list .text-area .text,
.check-data .question-list .text-area .text {
  padding-left: 20px;
}
.write-questionnair .question-list .text-area .clearfix,
.check-data .question-list .text-area .clearfix {
  display: none;
}
.write-questionnair .btn,
.check-data .btn {
  text-align: center;
  padding: 20px 0;
}
.check-data li {
  border-bottom: 1px solid #ee7419;
  position: relative;
}
.check-data li .chart {
  position: absolute;
  top: 0;
  right: 0;
}
